=render "payments/card_data"
.card.large-padding
	%table.table.table-striped.table-hover.medium#table_shopping_cart
		%thead
			%td Producto
			%td Costo
			%td Acciones
		%tbody
			-@shopping_cart.in_shopping_carts.each do |i_sh|
				-product = i_sh.product
				%tr{id: "i_sh-#{i_sh.id}"}
					%td= product.name
					%td= product.pricing
					%td= link_to "Eliminar", i_sh, remote: :true, method: :delete
	.top-space.large-padding.text-center#payment_form
		%p.medium
			%strong
				Total: $
				=@shopping_cart.total
	.top-space
		=render "payments/buttons"
